*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.main{
  background-image: url(imgs/ai.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
.Calculatorpage{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background: linear-gradient(90deg, rgb(132, 27, 27), rgb(28, 28, 92));
    border-radius: 30px;
    padding: 35px;
}
#inputBar {
  align-items: center;
  justify-items: center;
  margin: 10px;
  margin-left: 25px;
  width: 460px;
  padding: 15px;
  background-color: rgb(50, 54, 53);
  border-radius: 10px;
}
#inputBar:hover{
  background-color: rgb(224, 233, 230);
  transition: 1s ease-in-out;
  background: #e5e9ed
}

h1{
  font-size: 140%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding:10px;
}
.row{
    display: flex;
    align-items:flex-start;
    margin-top: 15px;
  
}
.btnp{
    display: flex;
    flex: 2;
    background: transparent;
    border: 1px solid rgba(248, 247, 247, 0.979);
    margin: 5px;
    padding: 15px;
    color: white;
    font-size: 20px;
    
    border-radius: 30px; 
}
.btnp:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
/* .btnp:hover{
    background-color: gray;
    color: rgb(40, 197, 71);
    box-shadow: 3px 3px 4px rgb(39, 38, 38);
    cursor: pointer;
} */

.Oper, .ANS, .Oper2{
  width: 10vw;
  outline-width: none;
  margin-right: 15px;
  padding: 15px;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
}

.Oper:hover,.Oper:focus, .Oper2:hover ,.Oper2:focus{
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: #6072ff;
}
.Oper2, .ANS{
  background-color: rgb(48, 219, 91);
}



 